<div class="row">
  <div class="small-12 medium-9 large-6 columns">
    <div>
      <br>
      <h4>Professional</h4>
      <p>
        I was a nuclear electrician's mate in the US Navy from 2003-2007. I was a third class petty officer stationed in Everett, Washington on the aircraft carrier CVN-72 USS Abraham Lincoln. I performed preventative and corrective maintenance, utilized lockout-tagout procedures, and complied with electrical safety controls and radiation safety controls. I also utilized schematics and shipboard diagrams to create and check complex tagout procedures to ensure personnel safety. Relevant equipment: turbine and diesel generators, pump motors, and salinity cells.
      </p>
      <p>
        From 2007-2008 I lived in Bozeman, MT and worked as a wiring technician at Pierry Manufacturing. I utilized schematics and technical knowledge to wire 450V industrial printing press dryer and 120V utility pump control panels according to customer specifications.
      </p>
      <p>
        In 2008 I moved to Georgia, where I completed my college education. In 2012 I graduated from North Georgia College and State University (now the University of North Georgia) with a Bachelor's of Science in Physics. From 2011-2012 I worked as a Physics II lab assistant and tutor at the school. I set up and monitored Physics II labs, assisted students with the collection and analysis of lab data, tutored students, and graded lab reports.
      </p>
    </div>
  </div>
  <div class="small-12 medium-9 large-6 columns">
    <div>
      <br>
      <h4>Personal</h4>
      <p>
        I am a volunteer manager at the Tip Top Thrift Shop in Benson. I have been volunteering there regularly since May of 2013. The store benefits Youth Emergency Services of Omaha through regular monetary donations and donations of household items to YES young adults in the transitional living program.
      </p>
      <p>
        I enjoy riding bikes for fitness and fun as well as for transportation. I led two small family-centered group rides, called Kidical Mass, through a local bike shop in 2015 and I look forward to leading more rides in the future.
      </p>
      <p>
        I am currently a purple belt in tae kwon do. I have been training for one year, and I plan to earn my black belt one day.
      </p>
    </div>
  </div>
</div>

<!-- <div class="custom-background">
  <br>
</div> -->
