<div class="custom-background">
<br>
  <div class="row">
    <div class="small-9 small-centered columns text-center">

      <ul class="button-group round toggle" data-toggle="buttons-radio">
        <li>
          <input type="radio" id="r1" name="r-group" data-toggle="button">
          <label class="button" for="r1">Me</label>
        </li>
        <li>
          <a href="http://www.cornify.com" onclick="cornify_add();return false;">
          <input type="radio" id="r2" name="r-group" data-toggle="button">
          <label class="button" for="r2">More Unicorns, Please</label></a><script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
        </li>
        <li>
          <input type="radio" id="r3" name="r-group" data-toggle="button">
          <label class="button" for="r3">Other Things I Like</label>
        </li>
      </ul>

    </div>
  </div>

  <div class="row">

      <div id="blk-1" class="toHide" style="display:none">
        <h5>Me</h5>
        <p>
          Hi boys. I'm Tina. Please don't tell Mom and Dad. It's an erotic friend fiction story that I just wrote. I hope you like it, because you're all in it. It's called 'Buttloose.' My boob? Jimmy Jr. had a chance to ride the Tina truck, but now it's headed straight for Joshville. Toot-toot. If we see any mermaids, I'm gonna ask them where their merginas are. Not if you're a fish. You won't regret it, dad. When I kiss Jimmy Jr. under the disco ball, it'll be like we're all kissing Jimmy Jr under the disco ball. YOU GORGEOUS IDIOT! I don't know. Eating lobster? It goes against everything we were taught to believe. Dear God, this is Tina from school. Hey Jimmy Jr. Did you see those two squirrels fighting in the courtyard? Time for the charm bomb to explode. I had no idea there was so much butt touching in baseball. I don't know. Eating lobster? It goes against everything we were taught to believe.
        </p>
      </div>

      <div id="blk-2" class="toHide" style="display:none">
        <h5>Other Things I Like</h5>
        <p>
          Anything for you, because I love you. Deep, deep man love. Wash, we've got some local color happening. You're the Slayer, and we're, like, the Slayerettes! They rampaged through half the known world until Angel got his soul. The human mind is like Van Halen; if you just pull out one piece and keep replacing it, it just degenerates. From now on, we're gonna have a little less ritual, and a little more fun around here! I mean, officially I deplore violence, but that was totally worth the loss of karma points! Some terrifying space monkeys maybe got loose? I brought you some supper but if you'd prefer a lecture, I've a few very catchy ones prepped: sin and hellfire, one has lepers. Love keeps her in the air when she ought to fall down. I like to think of myself more as a 'guest-age'. It has nothing to do with me.
        </p>
      </div>

  </div>

</div>
