<div class="custom-background">
  <br><br>
  <div class="row">
    <div class="small-9 small-centered columns text-center">

      <ul class="button-group round toggle" data-toggle="buttons-radio">
        <li>
          <input type="radio" id="r1" name="r-group" data-toggle="button">
          <label class="button" for="r1">Me</label>
        </li>
        <li>
          <input type="radio" id="r2" name="r-group" data-toggle="button">
          <label class="button" for="r2">Unicorns</label>
        </li>
        <li>
          <input type="radio" id="r3" name="r-group" data-toggle="button">
          <label class="button" for="r3">Other Things I Like</label>
        </li>
      </ul>

      <%= image_tag("unicorn-galaxy.gif") %>

    </div>
  </div>
</div>
