<section id="top">
  <%= image_tag("lego-unicorn.jpg") %>
</section>

<section id="about">
  <h1>About</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
<hr>
<section id="blog">
  <h1>Blog</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
<hr>
<section id="contact">
  <h1>Contact</h1>
  <br>
  <br>
</section>
