<div id="post">
  <%= image_tag("lego-unicorn.jpg") %>

  <ul>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
    <li>
      stuff
    </li>
  </ul>
</div>
