<section id="top">
  <%= image_tag("brick-unicorn.jpg") %>
</section>

<section id="about">
  <h1>About</h1>
  <br>
  <br>
  <br>
  <br>
  more <%= link_to "here", pages_about_path %>.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
<hr>
<section id="blog">
  <h1>Blog</h1>
  <br>
  <br>
  <br>
  <p>
    put last 5 blog posts here,
  </p>
  <p>
    <%= link_to "View All", posts_path %>
  </p>
  <br>
  <br>
  <br>
</section>
<hr>
<section id="contact">
  <h1>Contact</h1>
  <br>
  <br>
</section>
