<br><br>
<div class="text-center">
  <h2>Recent Work</h2>
  <br><br>
  <ul>
    <li class="no-bullet small-10 medium-10 large-10">
      <h4><a href="https://aqueous-retreat-2523.herokuapp.com/">Omaha Bicycle Pedestrian Count</a>
</h4>
      <p>
        This project was developed during Omaha Code School for nonprofit Modeshift Omaha, an organization that advocates for transportation options throughout the city. This site is projected for use in 2016 to assist in the facilitation of a city-wide bicycle pedestrian count, to provide data to our city leaders so that they may allocate resources accordingly. The site was built with Ruby on Rails, with Bootstrap as the framework. A gem called ActiveAdmin was used as the administration framework, and Devise was used for authentication.
      </p>
    </li>
  </ul>

</div>
<br><br>
<div class="half-size">
  <%= image_tag("unicorn-galaxy.gif") %>
</div>
<br><br>
<%= link_to "Image Credit", "http://amylovespenguins.deviantart.com/" %>
