<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<footer class="footer">
  <div class="row">

    <div class="small-4 columns custom-hidden">
      Nothing to see here!
    </div>

    <div class="small-4 columns text-center">
      <h4 class="links">
        <a href="/"><i class="fi-home"></i></a>
        <a href="mailto:beltz08@me.com?Subject=You%20Are%20Rad"><i class="fi-mail"></i></a>
        <a href="http://www.twitter.com/KikkiBeltz"><i class="fi-social-twitter"></i></a>
        <a href="http://www.linkedin.com/in/kbeltz"><i class="fi-social-linkedin"></i></a>
        <a href="http://www.github.com/KBeltz"><i class="fi-social-github"></i></a>
      </h4>
      <p class="copywrite">© 2015</p>
    </div>

    <div class="small-4 columns">
      <a href="/" class="button custom-button"> </a>
    </div>

  </div>
</footer>

</html>
