<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="sticky fixed">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [medium,large]">

      <section class="top-bar-section">
        <!-- Title Nav Section -->
        <ul class="title-area">
          <li class="name">
            <h1><a class="scroll" href="#top"><i class="fi-home"></i> Kikki B.</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </section>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a class="scroll" href="#about"><i class="fi-info"></i> About Me</a></li>
          <li><a class="scroll" href="#blog"><i class="fi-like"></i> Blog</a></li>
          <li><a class="scroll" href="#contact"><i class="fi-mail"></i> Contact</a></li>
        </ul>
      </section>
    </nav>
  </div>

<%= yield %>

</body>
</html>
