<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="sticky fixed">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [medium,large]">

      <section class="top-bar-section">
        <!-- Title Nav Section -->
        <ul class="title-area">
          <li class="name">
            <h1><a class="scroll" href="#top"><i class="fi-home"></i> Kikki B.</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </section>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a class="scroll" href="#about"><i class="fi-info"></i> About Me</a></li>
          <li><a class="scroll" href="#blog"><i class="fi-like"></i> Blog</a></li>
        </ul>
      </section>
    </nav>
  </div>

<%= yield %>

</body>

<footer class="footer">
  <div class="row">

    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fi-marker"></i> Address?</p></li>
        <li><p><i class="fi-telephone"></i> +1-402-86-5309</p></li>
        <li><p><a href="mailto:beltz08@me.com?Subject=You%20Are%20Rad"><i class="fi-mail"></i> Email</a></p></li>
      </ul>
    </div>

    <div class="small-12 medium-6 large-5 columns">
      <h2>
        <a href="http://www.facebook.com/beltz08"><i class="fi-social-facebook"></i></a>
        <a href="http://www.twitter.com/KikkiBeltz"><i class="fi-social-twitter"></i></a>
        <a href="http://www.linkedin.com/in/kbeltz"><i class="fi-social-linkedin"></i></a>
        <a href="http://www.github.com/KBeltz"><i class="fi-social-github"></i></a>
      </h2>
    </div>

    <div class="small-12 medium-12 large-3 columns">
      <p class="about">About Star Wars</p>
      <p class="about subheader">Strike me down, and I will become more powerful than you could possibly imagine.</p>
    </div>

  </div>
</footer>
</html>
